
*{
    padding: 0;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root{
    --font1:'Barrio', cursive;
    --font2:'Freckle Face', cursive;
    --font3:'Gloria Hallelujah', cursive;
    --font4:'Stick', sans-serif;
    --font5:'Major Mono Display', monospace;
    --font6:'Courgette', cursive;
    --font7:'Nova Oval', cursive;
    --font8:'Slackey', cursive;
    --font9:'Darumadrop One', cursive;
    --font10: 'Kaushan Script', cursive;
    --font11: 'Leckerli One', cursive;
    --font12: 'Nova Oval', cursive;
    --font13: 'Pacifico', cursive;
    --font14: 'Sacramento', cursive;
}

header{
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.titel{
    padding: 10px;
    color: #ffffff;
    font-family:  var(--font5);
    font-size: 8vw;
} 

.nav{
    
    background-color: rgb(34, 34, 34);
    width: 100%;
    right: 0;
    z-index: 1000;
    position: fixed;
    display: flex;
    transition: all .45s ease;
    justify-content: center;
    gap: 5vw;
}

.nav a{
    font-family: var(--font6);
    display: flex;
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: all .45s ease;
    transition: all .45s ease;
    border: 2px solid white;
    padding-left: 2vw;
    padding-right: 2vw;
    font-weight: bold;

}

.nav a:hover{
    color: rgb(241, 0, 0);
}

.nav a.active{
    color: rgb(255, 0, 0);
}


main{
    width: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

h2{
    font-family: var(--font1);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    font-size: 5vw;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 5px;
    text-shadow: -1px 1px 0 #ffffff,
                          1px 1px 0 #ffffff,
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #ffffff;

}

.iframe_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

.moments,.comments,.profile{
    background-color: rgba(255, 255, 255, 0.238);
    padding-bottom: 10px;
}

.youtube,.reviews{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.231);
    padding-bottom: 10px;
}


.pp{
    padding-top: 40px;
    width:200px;
    border-radius: 50%;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-shadow: -1px 1px 0 #fcfcfc,
                          1px 1px 0 #ffffff,
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #ffffff;
}

h4{
    font-size: 25px;
}

.about{
    margin: 10px;
    font-size: 20px;
    font-family: var(--font11);
}

.ps{
    color: #000;
    text-shadow: -1px 1px 0 #fcfcfc,
    1px 1px 0 #ffffff,
   1px -1px 0 #ffffff,
  -1px -1px 0 #ffffff;
}


footer{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    right: 0;
    background-color: black;
    display: flex;   
    color: aliceblue; 
    flex-direction: column;
    
}

.follow{
    display: flex;
    align-items: center;
    padding: 2px;
    color: aliceblue;
    font-size: 20px;
}

.social{
    padding: 10px;
    display: flex;
    font-size: 100px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.terms{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
}

.social a{
    transform: all .45s ease;
    transition: all .45s ease;
    padding: 5px;
    color: aliceblue;
    font-size: 20px;
    align-self: center;
}


.terms a{
    display: flex;
    color: aliceblue;
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    transform: all .45s ease;
    transition: all .45s ease;
    font-family: var(--font12);
}


.social a:hover{
    color: rgb(241, 0, 0);
}

.terms a:hover{
    color: rgb(241, 0, 0);
}

.terms a:active{
    color: rgb(255, 0, 0);

}

/*    GALLERY     */

h1.gallery{
    font-family: var(--font1);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
    margin-top: 60px;
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: -1px 1px 0 #ffffff,
                          1px 1px 0 rgb(255, 255, 255),
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #ffffff;

}


.popular_p, .canvas_g{
    background-color: rgba(255, 255, 255, 0.238);
    padding-bottom: 10px;
}

.commissioned_p, .watercolour_g{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.231);
    padding-bottom: 10px;
}

.view_more_button{
    margin: 20px;
   
}


.view_more_button a{
    color: #000871;
    font-family: var(--font2);
    border: 2px solid black;
    padding: 10px;
    font-size: 25px;
    font-weight: ;

}

.view_more_button a:hover{
    color: rgb(241, 0, 0);
    border: 2px solid rgb(255, 0, 0);
}





/*   BOOKING    */




h1.booking{
    color: #ffffff;
    font-weight: bold;
    margin-top: 60px;
    text-decoration: underline;
    font-family: var(--font1);
    font-size: 50px;
    text-shadow: -1px 1px 0 #000000,
                          1px 1px 0 #000000,
                         1px -1px 0 #000000,
                        -1px -1px 0 #000000;
}

h2.booking{
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
    font-family: var(--font11);
    font-size: 30px;
    text-shadow: -1px 1px 0 #ffffff,
                          1px 1px 0 #ffffff,
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #ffffff;
}



p span{
    font-weight: bold;
}
.text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 25px;
    align-items: start;
    font-family: var(--font15);
}


.contact{
    display: flex;
    font-size: 50px;
    font-weight: 500;
    justify-content: center;
    padding: 10px;
}

.contact a{
    color: #ffffff;
    text-shadow: -1px 1px 0 #000000,
                          1px 1px 0 #000000,
                         1px -1px 0 #000000,
                        -1px -1px 0 #000000;
}


.fix_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view_more_button{
    justify-self: right;
}


.order_now{
    font-family: var(--font8);
    border: 2px solid black;
    padding: 2px;
}

.order_now:hover{
    color: rgb(241, 0, 0);
    border: 2px solid rgb(255, 0, 0);
}

.para_details{
    display: flex;
    flex-direction: column;
    font-family: var(--font12);
    padding: 10px;
    font-size: 25px;
    color: #9a0000;
}

.single_f{
    background-color: rgba(255, 255, 255, 0.238);
    padding-bottom: 10px;
}

.double_f{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.062);
    padding-bottom: 10px;
}





/*         ABOUT     */

.logo_about{
    margin-top: 60px;
    width: 90px;
}

.about_titel{
    font-family: var(--font8);
    font-size: 30px;
    text-shadow: -1px 1px 0 #ffffff,
                          1px 1px 0 #ffffff,
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #ffffff;
}

.para_about{
    display: flex;
    flex-direction: column;
    font-family: var(--font7);
    padding: 10px;
    font-size: 18px;
}

footer.about{
    position: fixed;
 display: flex;
    }




/*         TEST        */

.image_box{
    display: flex;
    flex-direction: column;
    padding: 10px;
   
    z-index: 1000;
}

.image_box a{
    z-index: 1000;
    object-fit: fill;
}
