
*{
    padding: 0;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root{
    --font1:'Barrio', cursive;
    --font2:'Freckle Face', cursive;
    --font3:'Gloria Hallelujah', cursive;
    --font4:'Stick', sans-serif;
    --font5:'Major Mono Display', monospace;
    --font6:'Courgette', cursive;
    --font7:'Nova Oval', cursive;
    --font8:'Slackey', cursive;
    --font9:'Darumadrop One', cursive;
    --font10: 'Kaushan Script', cursive;
    --font11: 'Leckerli One', cursive;
    --font12: 'Nova Oval', cursive;
    --font13: 'Pacifico', cursive;
    --font14: 'Sacramento', cursive;
}

header{
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.titel{
    padding: 10px;
    color: #ffffff;
    font-family:  var(--font5);
    font-size: 8vw;
} 

.nav{
    
    background-color: rgb(34, 34, 34);
    width: 100%;
    right: 0;
    z-index: 1000;
    position: fixed;
    display: flex;
    transition: all .45s ease;
    justify-content: center;
    gap: 5vw;
}

.nav a{
    font-family: var(--font10);
    display: flex;
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: all .45s ease;
    transition: all .45s ease;
    border: 2px solid white;
    padding-left: 2vw;
    padding-right: 2vw;
    font-weight: bold;

}

.nav a:hover{
    color: rgb(241, 0, 0);
}

.nav a.active{
    color: rgb(255, 0, 0);
}


main{
    width: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

h2{
    font-family: var(--font1);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    font-size: 45px;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 5px;
    text-shadow: -1px 1px 0 #ffffff,
                          1px 1px 0 #ffffff,
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #ffffff;

}

.iframe_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

.moments,.comments,.write_review{
    background-color: rgba(255, 255, 255, 0.238);
    padding-bottom: 10px;
}

.youtube,.reviews{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.231);
    padding-bottom: 10px;
}

.container_review{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.c_review{
    display: flex;
    background-color: #ffffff;
    margin: 10px;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    
}

.c_star i{
    font-size: 30px;
    color: #fe7;
}

.c_describe{
    font-size: 20px;
    font-family: var(--font6);
}



form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.containter_s{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#star input{
    display: none;
}

#star label{
    font-size: 30px;
    color: #606060;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
 
}

#star input:not(:checked) ~ label:hover,
#star input:not(:checked) ~ label:hover ~ label
{
    color: #fe7;
}

#star input:checked ~ label{
    color: #fe7;
}

.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

}

form .textarea_name textarea{
    height: 20px;
    width: 100%;
    overflow: hidden;
}

form .textarea_describe textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea_id textarea{
    height: 20px;
    width: 100%;
    overflow: hidden;
}

form .btn{
    background-color: #ffa442;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;
    border-radius: 5px;
    width: 100px;
}

.btn:hover{
    background-color: rgb(0, 255, 38);
} 




footer{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    right: 0;
    background-color: black;
    display: flex;   
    color: aliceblue; 
    flex-direction: column;
    
}

.follow{
    display: flex;
    align-items: center;
    padding: 2px;
    color: aliceblue;
    font-size: 20px;
}

.social{
    padding: 10px;
    display: flex;
    font-size: 100px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.terms{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
}

.social a{
    transform: all .45s ease;
    transition: all .45s ease;
    padding: 5px;
    color: aliceblue;
    font-size: 20px;
    align-self: center;
}


.terms a{
    display: flex;
    color: aliceblue;
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    transform: all .45s ease;
    transition: all .45s ease;
    font-family: var(--font12);
}


.social a:hover{
    color: rgb(241, 0, 0);
}

.terms a:hover{
    color: rgb(241, 0, 0);
}

.terms a:active{
    color: rgb(255, 0, 0);

}

/*    GALLERY     */

h1.gallery{
    font-family: var(--font1);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
    margin-top: 60px;
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: -1px 1px 0 #ffffff,
                          1px 1px 0 rgb(255, 255, 255),
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #ffffff;

}


.popular_p, .canvas_g{
    background-color: rgba(255, 255, 255, 0.238);
    padding-bottom: 10px;
}

.commissioned_p, .watercolour_g{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.231);
    padding-bottom: 10px;
}

.view_more_button{
    margin: 20px;
}


.view_more_button a{
    color: #000000;
    font-family: var(--font1);
    border: 2px solid black;
    padding: 5px;
    font-size: 3vw;
    font-weight: bold ;
    background-color: #ffb1b1;
    border-radius: 8px;

}

.view_more_button a:hover{
    background-color: #ff4e4e;
    color: #fcfcfc;
}





/*   BOOKING    */




h1.booking{
    color: #ffffff;
    font-weight: bold;
    margin-top: 60px;
    text-decoration: underline;
    font-family: var(--font1);
    font-size: 45px;
    text-shadow: -1px 1px 0 #000000,
                          1px 1px 0 #000000,
                         1px -1px 0 #000000,
                        -1px -1px 0 #000000;
}

h2.booking{
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
    font-family: var(--font11);
    font-size: 30px;
    text-shadow: -1px 1px 0 #ffffff,
                          1px 1px 0 #ffffff,
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #ffffff;
}


.sub{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view_more_button{
    justify-self: right;
}

p span{
    font-weight: bold;
}

.text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 3vw;
    align-items: start;
    font-family: var(--font15);
}

.order_now{
    font-family: var(--font9);
    border: 2px solid rgb(0, 0, 0);
    padding: 4px;
    font-size: 3vw;
    color: #fcfcfc;
    background-color: #7debff;
    border-radius: 5px;
}

.order_now:hover{
    color: rgb(128, 0, 0);
    background-color: #fcfcfc;
}

.para_details{
    display: flex;
    flex-direction: column;
    font-family: var(--font12);
    padding: 10px;
    font-size: 3vw;
    color: #9a0000;
}

.single_f{
    background-color: rgba(255, 255, 255, 0.238);
    padding-bottom: 10px;
}

.double_f{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.062);
    padding-bottom: 10px;
}


.contact{
    display: flex;
    font-size: 8vw;
    font-weight: 500;
    justify-content: center;
    padding: 10px;
}

.contact a{
    color: #ffffff;
    text-shadow: -1px 1px 0 #000000,
                          1px 1px 0 #000000,
                         1px -1px 0 #000000,
                        -1px -1px 0 #000000;
}



.fix_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}



/*         ABOUT     */

.logo_about{
    margin-top: 60px;
    width: 90px;
}

.about_titel{
    font-family: var(--font8);
    font-size: 30px;
    text-shadow: -1px 1px 0 #ffffff,
                          1px 1px 0 #ffffff,
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #ffffff;
}

.para_about{
    display: flex;
    flex-direction: column;
    font-family: var(--font7);
    padding: 10px;
    font-size: 18px;
}

footer.about{
    position: fixed;
 display: flex;
    }

    .pp{
        padding-top: 40px;
        width:200px;
        border-radius: 50%;
    }
    
    .name{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        text-shadow: -1px 1px 0 #fcfcfc,
                              1px 1px 0 #ffffff,
                             1px -1px 0 #ffffff,
                            -1px -1px 0 #ffffff;
    }
    
    h4{
        font-size: 25px;
    }
    
    .about{
        margin: 10px;
        font-size: 20px;
        font-family: var(--font11);
    }
    
    .ps{
        color: #000;
        text-shadow: -1px 1px 0 #fcfcfc,
        1px 1px 0 #ffffff,
       1px -1px 0 #ffffff,
      -1px -1px 0 #ffffff;
    }



/*         TEST        */

.image_box{
    display: flex;
    flex-direction: column;
    padding: 10px;
   
    z-index: 1000;
}

.image_box a{
    z-index: 1000;
    object-fit: fill;
}
