
*{
    padding: 0;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}

:root{
    --font1:'Barrio', cursive;
    --font2:'Freckle Face', cursive;
    --font3:'Gloria Hallelujah', cursive;
    --font4:'Stick', sans-serif;
    --font5:'Major Mono Display', monospace;
    --font6:'Courgette', cursive;
    --font7:'Bubblegum Sans', cursive;
    --font8:'Slackey', cursive;
}

header{
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.titel{
    color: #ffffff;
    font-family:  var(--font5);
    @media screen and (min-width: 801px){
          font-size: 80px;
      }
    @media screen and (max-width: 800px) {
          font-size: 39px;
        }
} 

.nav{
    
    background-color: rgb(34, 34, 34);
    width: 100%;
    right: 0;
    z-index: 1000;
    position: fixed;
    display: flex;
    transition: all .45s ease;
    justify-content: center;
    gap: 5vw;
}

.nav a{
    font-family: var(--font4);
    display: flex;
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: all .45s ease;
    transition: all .45s ease;
    border: 2px solid white;
    padding-left: 2vw;
    padding-right: 2vw;
    font-weight: bold;
    @media screen and (min-width: 801px) {
            font-size: 20px;
      }
    @media screen and (max-width: 800px) {
            font-size: 10px;
          }
}

.nav a:hover{
    color: rgb(241, 0, 0);
}

.nav a.active{
    color: rgb(255, 0, 0);
}


main{
    width: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

h2{
    font-family: var(--font1);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 5px;
    text-shadow: -1px 1px 0 #ffffff,
                          1px 1px 0 #ffffff,
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #ffffff;

}

.iframe_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

.riframe {
 
  }

.moments,.comments,.profile{
    background-color: rgba(255, 255, 255, 0.238);
    padding-bottom: 10px;
}

.youtube,.reviews{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.231);
    padding-bottom: 10px;
}


.pp{
    padding-top: 40px;
    width:200px;
    border-radius: 50%;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-shadow: -1px 1px 0 #fcfcfc,
                          1px 1px 0 #ffffff,
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #ffffff;
}

h4{
    font-size: 25px;
}

.about{
    margin: 10px;
    font-size: 20px;
}

.ps{
    color: #000;
    text-shadow: -1px 1px 0 #fcfcfc,
    1px 1px 0 #ffffff,
   1px -1px 0 #ffffff,
  -1px -1px 0 #ffffff;
}


footer{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    right: 0;
    background-color: black;
    display: flex;   
    color: aliceblue; 
    flex-direction: column;
    
}

.follow{
    display: flex;
    align-items: center;
    padding: 2px;
    color: aliceblue;
    font-size: 20px;
}

.social{
    padding: 10px;
    display: flex;
    font-size: 100px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.terms{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
}

.social a{
    transform: all .45s ease;
    transition: all .45s ease;
    padding: 5px;
    color: aliceblue;
    font-size: 20px;
    align-self: center;
}


.terms a{
    display: flex;
    color: aliceblue;
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    transform: all .45s ease;
    transition: all .45s ease;
}


.social a:hover{
    color: rgb(241, 0, 0);
}

.terms a:hover{
    color: rgb(241, 0, 0);
}

.terms a:active{
    color: rgb(255, 0, 0);
}

/*    GALLERY     */


h1.gallery{
    font-family: var(--font1);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
    margin-top: 60px;
    font-size: 8vw;
    margin-bottom: 10px;
    text-shadow: -1px 1px 0 #000000,
                          1px 1px 0 rgb(0, 0, 0),
                         1px -1px 0 #000000,
                        -1px -1px 0 #000000;
}




.acrylic_p{
    background-color: rgba(255, 255, 255, 0.238);
    padding-bottom: 10px;
}

.canvas{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.231);
    padding-bottom: 10px;
}


/*   BOOKING    */




h1.booking{
    color: #ffffff;
    font-weight: bold;
    margin-top: 80px;
    text-decoration: underline;
    font-family: var(--font1);
    font-size: 150%;
    text-shadow: -1px 1px 0 #000000,
                          1px 1px 0 #000000,
                         1px -1px 0 #000000,
                        -1px -1px 0 #000000;
}


p span{
    font-weight: bold;
}
.para{
    display: flex;
    flex-direction: column;
    font-family: var(--font7);
    padding: 10px;
    font-size: 18px;
}



.contact{
    display: flex;
    font-size: 50px;
    font-weight: 500;
    justify-content: center;
    
}

.contact a{
    color: #ffffff;
    text-shadow: -1px 1px 0 #000000,
                          1px 1px 0 #000000,
                         1px -1px 0 #000000,
                        -1px -1px 0 #000000;
}


footer.booking{
 position: fixed;
 display: flex;
}

/*         ABOUT     */

.logo_about{
    margin-top: 60px;
    width: 90px;
}

.about_titel{
    font-family: var(--font8);
    font-size: 30px;
    text-shadow: -1px 1px 0 #ffffff,
                          1px 1px 0 #ffffff,
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #ffffff;
}

.para_about{
    display: flex;
    flex-direction: column;
    font-family: var(--font7);
    padding: 10vw;
    font-size: 18px;
}

footer.about{
    position: fixed;
 display: flex;
    }